<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Vue JS Section 2 Lesson 26</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./index_lec26.css">
</head>

<body>
    <div id="app">

        <div class="demo" :style="{backgroundColor: color}"></div>
        <div class="demo" :style="myStyle"></div>
        <div class="demo" :style="[myStyle, {height: width + 'px'}]"></div>
        <hr>
        <input type="text" v-model="color">
        <input type="text" v-model="width">
    </div>

    <!-- development version, includes helpful console warnings -->
    <script src=" https://cdn.jsdelivr.net/npm/vue/dist/vue.js "></script>
    <script src="./index_lec29.js "></script>
</body>

</html>